.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-form-field{
  display: contents !important;
}

table {
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
/*
td.mat-cell {
  text-align: center; 
  vertical-align: middle; 
}

th.mat-header-cell {
  text-align: center; 
  vertical-align: middle; 
}
*/
/*
.centrado11 {
  margin: 0 auto; 
  width: 90%; 
}

.centrado2 {
  margin: 0 auto; 
  width: 85%; 
}*/

.full-width-table {
  width: 100%;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .mat-column-position,
  .mat-column-weight,
  .mat-column-symbol {
    display: none;
  }
}